<body>
  <div class="card">
    <img src="../../../assets/IMG_7004.jpg" class="card_img" />
    <h1 class="card_title">MICAELA VÁZQUEZ</h1>
    <h2 class="card_subtitle">PROGRAMADOR</h2>
    <p class="card_content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
      exercitationem debitis molestias eveniet doloremque omnis dicta aliquam,
      illum, id voluptatibus perspiciatis ratione. Perspiciatis fugiat obcaecati
      modi, veniam doloremque aut eius.
    </p>
  </div>

  <div class="card">
    <h1 class="card_title">EXPLICACION DEL JUEGO</h1>
    <h2 class="card_subtitle">Memoria Maestra</h2>
    <p class="card_content">
      Verás varias cartas boca abajo. Cada carta tiene una imagen única en su
      parte posterior. Toca una carta para voltearla y revelar la imagen. Luego,
      toca otra carta para intentar encontrar la misma imagen que la primera. Si
      las dos cartas que eliges coinciden, ¡habrás encontrado una pareja y se
      quedarán boca arriba! Si las cartas no coinciden, se voltearán nuevamente
      boca abajo y tendrás que recordar su ubicación para futuras jugadas.
      Repite este proceso antes que termine el tiempo y GANA!
    </p>
  </div>
</body>
