<div>
  @if (usuarioLogueado && !mostrarChat) {
  <mat-icon class="chat-icon-container" (click)="mostrarChat = true">
    <span class="material-symbols-outlined" (click)="mostrarChat = true">
      chat
    </span>
  </mat-icon>
  }
</div>

@if(usuarioLogueado && mostrarChat ){
<mat-card class="card-content">
  <mat-card-header class="card-header">
    <mat-card-title
      >CHAT
      <mat-icon (click)="mostrarChat = false" class="close-icon"
        ><span class="material-symbols-outlined"> close </span></mat-icon
      >
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="contenedor-msj" id="contenedor-msj">
    @for (msj of messages;track msj) {
    <p [ngClass]="usuarioLogueado.uid == msj.uid ? 'msj self' : 'msj'">
      <strong>{{ msj.email }}</strong> <br />{{ msj.texto }} <br />{{
        formatTimestamp(msj.fecha)
      }}
    </p>
    }
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <mat-card-actions>
      <input
        matInput
        placeholder="Escribe un mensaje..."
        [(ngModel)]="newMessage"
      />
      <button mat-button (click)="sendMsj()">
        <mat-icon
          ><span class="material-symbols-outlined"> send </span></mat-icon
        >
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
}
