<app-nav-bar />

<div class="cardbox-shadow col-12 principal">
  <header>
    <h1>Mayor o menor?</h1>
  </header>
  <div class="container d-flex flex-column align-items-center mt-4">
    <button
      mat-icon-button
      class="rounded-button"
      color="primary"
      (click)="mostrarExplicacion = !mostrarExplicacion"
    >
      <mat-icon class="material-symbols-outlined">info</mat-icon>
    </button>
    @if(mostrarExplicacion){
    <mat-card class="mb-3">
      <mat-card-header>
        <mat-card-title>Juego de Mayor y Menor con cartas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          En este juego, se mostrará una carta y debes decidir si la próxima
          carta será mayor o menor en valor numérico. Acumula puntos por cada
          predicción correcta y pierde intentos por cada predicción incorrecta.
          El juego finaliza después de un número específico de intentos.
        </p>
      </mat-card-content>
    </mat-card>
    }

    <div>
      @if(!empezado){
      <img
        id="imgEmp"
        src="../../../../assets/mayor-menor/presentacion-cartas.png"
        class="img-centered smaller-image"
      />
      }
    </div>
    <button
      mat-flat-button
      color="primary"
      type="button"
      class="submit_class"
      id="empezar"
      [hidden]="empezado"
      (click)="empezar()"
    >
      JUGAR
      <mat-icon
        ><span class="material-symbols-outlined"> play_arrow </span></mat-icon
      >
    </button>
  </div>

  <div class="container" [hidden]="!empezado">
    <div class="card-body text-center">
      <br />
      <div class="col-12 text-center">
        <div class="row">
          <h6>Puntos:</h6>
          <h6>{{ puntos }}</h6>
        </div>
      </div>
      <br />

      <div class="row justify-content-center">
        <div class="col-4">
          <h2>Carta Anterior</h2>
          @if(cartaAnterior.src != ''){
          <img
            src="{{ cartaAnterior.src }}"
            style="opacity: 50%"
            alt="cartaAnt"
          />

          } @if(cartaAnterior.src == ''){
          <img
            src="../../../../assets/mayor-menor/joker.png"
            style="opacity: 50%"
            alt="cartaAnt"
          />

          }
        </div>
        <div class="col-4">
          <h2>Carta Actual</h2>
          <img src="{{ cartaActual.src }}" alt="carta" />
        </div>
      </div>
      <hr class="text-light" />
      <div class="row mt-5">
        <div
          class="btn-group"
          role="group"
          aria-label="Basic mixed styles example"
        >
          <button type="button" class="btn btn-danger" (click)="cartaMenor()">
            MENOR
          </button>
          <button type="button" class="btn btn-success" (click)="cartaMayor()">
            MAYOR
          </button>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <mat-card class="mb-4 mt-4">
        <mat-toolbar color="primary">
          <span>Estadísticas del Juego</span>
        </mat-toolbar>
        <mat-card-content>
          <p><strong>Fallos:</strong> {{ fallos }}</p>
          <p><strong>Aciertos:</strong> {{ aciertos }}</p>
          <p><strong>Intentos:</strong> {{ intentos }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  @if(finalizado) {
  <div class="d-flex justify-content-center mt-4">
    <mat-card class="finalizado-card mb-4">
      <mat-card-content>
        <p>
          <strong>Puntuación:</strong> {{ puntos }} |
          <strong>Juego finalizado!</strong>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  }
</div>
