.smaller-image {
  width: 50%;
  max-width: 300px;
  height: auto;
}

.finalizado-card {
  margin-bottom: 10px;
}

.img-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #33186b;
  padding: 10px;
  text-align: center;
  width: 100%;
}
h1 {
  margin: 0;
  color: white;
  background-color: #33186b;
}
.principal {
  background: linear-gradient(to bottom right, #6fdce3, #fffdb5);
  min-height: 100vh;
}
