<app-nav-bar />
<app-chat />
<main class="principal">
  <div class="d-flex flex-row align-items-center justify-content-center">
    <div class="container d-flex align-items-center justify-content-center p-2">
      <div class="card m-4 p-1 btn" (click)="redirigir('juegos/mayoromenor')">
        <img class="game-icon" src="../../../assets/icon_cartas.png" alt="" />
      </div>

      <div class="card m-4 p-1 btn" (click)="redirigir('juegos/ahorcado')">
        <img class="game-icon" src="../../../assets/icon_ahorcado.png" alt="" />
      </div>

      <div class="card m-4 p-1 btn" (click)="redirigir('juegos/preguntados')">
        <img class="game-icon" src="../../../assets/icon_pregunta.png" alt="" />
      </div>

      <div class="card m-4 p-1 btn" (click)="redirigir('juegos/mijuego')">
        <img class="game-icon" src="../../../assets/juego-propio.png" alt="" />
      </div>
    </div>
  </div>
</main>
