<app-nav-bar></app-nav-bar>
<body>
  <div class="wrapper">
    <div class="form-box">
      <div class="login">
        <h2>Login</h2>
        <form>
          <div class="input-box">
            <input
              type="text"
              required
              [(ngModel)]="loginObj.email"
              name="email"
            />
            <label>Email</label>
            <i class="bx bxs-user"></i>
          </div>
          <div class="input-box">
            <input
              type="password"
              required
              [(ngModel)]="loginObj.password"
              name="password"
            />
            <label>Contraseña</label>
            <i class="bx bxs-lock-alt"></i>
          </div>

          <button (click)="submit()" class="btn">Login</button>
          <button
            (click)="llenarCampos('usuario1@gmail.com', 'contraseña123')"
            class="btn-acceso-rapido"
          >
            Iniciar sesión como Usuario 1
          </button>
          <button
            (click)="llenarCampos('usuario2@gmail.com', 'contraseña456')"
            class="btn-acceso-rapido"
          >
            Iniciar sesión como Usuario 2
          </button>

          <div class="logreg-link">
            <p>
              No tienes cuenta?
              <a href="registro" class="register-link">Registrate</a>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="info-text login">
      <div><h2>Bienvenido!</h2></div>
      <div class="logo"></div>
    </div>
  </div>
</body>
