<app-nav-bar />

<header>
  <h1>Ahorcado</h1>
</header>
<main>
  <button
    mat-icon-button
    class="rounded-button"
    color="primary"
    (click)="mostrarExplicacion = !mostrarExplicacion"
  >
    <mat-icon class="material-symbols-outlined">info</mat-icon>
  </button>
  @if(mostrarExplicacion){
  <div div class="container mt-3">
    <mat-card class="mb-3">
      <mat-card-header>
        <mat-card-title>Juego del Ahorcado</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          El objetivo del juego es adivinar la palabra secreta. Cada vez que
          adivinas una letra correctamente, aparece en su lugar en la palabra.
          Si adivinas incorrectamente, se dibuja una parte del cuerpo en la
          horca. Tienes 7 intentos antes de que el hombre ahorcado esté
          completo.
        </p>
        <div class="text-center mb-3">
          <img
            src="../../../../assets/ahorcado/human_pregunta-removebg-preview (1).png"
            alt="Ahorcado"
            class="img-fluid"
          />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  }

  <img id="imagen" src="{{ img }}" />
  <div>
    <h3 id="resultado"></h3>
    <div id="pista" class="pista text-center p-2 mb-3">
      <h3>Pista: {{ pista }}</h3>
      <mat-icon
        ><span class="material-symbols-outlined">
          psychology_alt
        </span></mat-icon
      >
    </div>

    <p id="palabra_a_adivinar">
      @if(palabraSecreta){ @for (letras of palabraSecreta; track $index) {
      <span></span>
      } }
    </p>
    @if(btnVisible) {
    <button mat-flat-button color="primary" id="jugar" (click)="iniciar()">
      Obtener palabra
    </button>
    }

    <div id="letras" class="card bg-dark letter-buttons-container">
      <div class="d-flex justify-content-center aling-item-center">
        <button class="btn btn-info mx-1 my-1">a</button>
        <button class="btn btn-info mx-1 my-1">b</button>
        <button class="btn btn-info mx-1 my-1">c</button>
        <button class="btn btn-info mx-1 my-1">d</button>
        <button class="btn btn-info mx-1 my-1">e</button>
        <button class="btn btn-info mx-1 my-1">f</button>
        <button class="btn btn-info mx-1 my-1">g</button>
        <button class="btn btn-info mx-1 my-1">h</button>
        <button class="btn btn-info mx-1 my-1">i</button>
        <button class="btn btn-info mx-1 my-1">j</button>
      </div>
      <div class="d-flex justify-content-center aling-item-center">
        <button class="btn btn-info mx-1 my-1">k</button>
        <button class="btn btn-info mx-1 my-1">l</button>
        <button class="btn btn-info mx-1 my-1">m</button>
        <button class="btn btn-info mx-1 my-1">n</button>
        <button class="btn btn-info mx-1 my-1">ñ</button>
        <button class="btn btn-info mx-1 my-1">o</button>
        <button class="btn btn-info mx-1 my-1">p</button>
        <button class="btn btn-info mx-1 my-1">q</button>
        <button class="btn btn-info mx-1 my-1">r</button>
        <button class="btn btn-info mx-1 my-1">s</button>
      </div>

      <div class="d-flex justify-content-center aling-item-center">
        <button class="btn btn-info mx-1 my-1">t</button>
        <button class="btn btn-info mx-1 my-1">u</button>
        <button class="btn btn-info mx-1 my-1">v</button>
        <button class="btn btn-info mx-1 my-1">w</button>
        <button class="btn btn-info mx-1 my-1">x</button>
        <button class="btn btn-info mx-1 my-1">y</button>
        <button class="btn btn-info mx-1 my-1">z</button>
      </div>
    </div>
  </div>
</main>
